body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

/* style for the description */
.section-one {
  padding-bottom: 40px;
}
.description {
  display: flex;
  gap: 30px;
  align-items: center;
}
.para {
  width: 500px;
  border-style: outset;
}
.join {
  width: 480px;
  margin-left: 500px;
  margin-top: -30px;
  font-style: italic;
}
.basic {
  text-decoration: line-through;
  margin-left: 400px;
  color: gray;
  margin-top: 25px;
}
.staylish {
  text-decoration: underline;
  margin-left: 900px;
  margin-top: -45px;
  color: gray;
}
.IMG {
  width: 400px;
  height: 200px;
  margin-left: 505px;
}
/* style for carrer section  */
.Our {
  padding-left: 20px;
  background-color: gray;
  border-style: outset;

  border-radius: 10px;
}
.tile-of-the-description {
  margin-left: 20px;
  padding-top: 20px;
}
.description-our {
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 200px;
}
.para1 {
  width: 650px;
}
.our-img {
  height: 300px;
  width: 300px;
}

/* style for feed back  */
.img {
  width: 160px;
  height: 160px;
  margin-left: -10px;
  border-radius: 50%;
  object-fit: cover; /* Ensures the image fills the container while maintaining aspect ratio */
  border: 2px solid #ffffff; /* Optional: Adds a white border around the image */
  margin-top: 10px;
}
.client {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-right: 10px;
  padding-left: 50px;
}
.client p {
  margin-top: 70px;
  margin-right: 50px;
  font-size: 19px;
  font-weight: bold;
}
.FeedBack{
  margin-bottom: 20px;
 
}