body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

/* Style for the icon-bag */
.icon-bag {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.bag {
  width: 100px;
  height: 100px;
  padding-left: 1000px;
  padding-top: 10px;
}
.look-inside {
  margin-left:74%;
  text-decoration: none;
  color: gray;
  width: fit-content;
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
}
.look-inside:hover {
  color: darkgrey;
}
/* style for  the products */
.tile {
  margin-top: 90px;
  margin-left: 30px;
  padding-bottom: 20px;
}

.models {
  width: 100px;
  height: 100px;
  margin-left: 55px;
  margin-bottom: -25px;
}
.big-img {
  width: 100%;
}
.container-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  height: 400px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-bottom: 100px;
  margin-top: -40px;
}

.product {
  width: 300px;
  height: 300px;
}
/* style for the add-remove-total product */

.bag-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -25px;
}
p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: -20px;
  font-size: 15px;
}
button {
  width: 80px;
  background-color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
}
button:hover {
  /* background-color: pink; */
  cursor: pointer;
}
/* style for the popup cart  */
#cart {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Styles for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.style-cart {
  display: flex;
  justify-content: space-between;
  width: 800px;
  align-items: center;
  font-size: 25px;
  background-color: burlywood;
}
.style-cart img {
  width: 150px;
  height: 150px;
  margin-right: -50px;
}

.style-cart button {
  width: fit-content;
}
.total {
  width: fit-content;
  height: 30px;
  font-size: larger;
  display: flex;
  align-items: center;
  margin-left: 800px;
  border-style: outset;
}
